<?xml version="1.0"?>
<config>
    <modules>
      <PayVector_Sales>
         <version>0.0.1</version>
      </PayVector_Sales>
    </modules>
   <global>
   	  <models>
        <sales>
          <rewrite>
            <order>PayVector_Sales_Model_Order</order>
            <order_invoice>PayVector_Sales_Model_Order_Invoice</order_invoice>
			      <order_payment>PayVector_Sales_Model_Order_Payment</order_payment>
            <service_quote>PayVector_Sales_Model_Service_Quote</service_quote>
          </rewrite>
        </sales>
      </models>
	  <sales>
		<order>
			<statuses>
				<irc_paid translate="label">
					<label>PayVector - Successful Payment</label>
				</irc_paid>
				<irc_pending_threed_secure translate="label">
          <label>PayVector - Pending 3D Secure</label>
        </irc_pending_threed_secure>
        <irc_failed_threed_secure translate="label">
        	<label>PayVector - Failed 3D Secure</label>
        </irc_failed_threed_secure>
				<irc_pending translate="label">
					<label>PayVector - Pending Hosted Payment</label>
				</irc_pending>
				<irc_pending_hosted_payment translate="label">
					<label>PayVector - Pending Hosted Payment</label>
				</irc_pending_hosted_payment>
				<irc_failed_hosted_payment translate="label">
					<label>PayVector - Failed Hosted Payment</label>
				</irc_failed_hosted_payment>
        <irc_refunded translate="label">
          <label>PayVector - Payment Refunded</label>
        </irc_refunded>
        <irc_voided translate="label">
          <label>PayVector - Payment Voided</label>
        </irc_voided>
        <irc_preauth translate="label">
          <label>PayVector - Payment PreAuthorized</label>
        </irc_preauth>
        <irc_collected translate="label">
          <label>PayVector - Payment Collected</label>
        </irc_collected>
			</statuses>
		</order>
	  </sales>
   </global>
</config>