<?xml version="1.0"?>
<config>
   <modules>
      <PayVector_Tpg>
         <version>0.1.0</version>
      </PayVector_Tpg>
   </modules>

   <global>

      <blocks>
         <tpg>
            <class>PayVector_Tpg_Block</class>
         </tpg>
         <payment>
            <rewrite>
               <info_cc>PayVector_Tpg_Block_Payment_Info_Cc</info_cc>
            </rewrite>
         </payment>
         <adminhtml>
            <rewrite>
               <sales_order_payment>PayVector_Tpg_Block_Adminhtml_Sales_Order_Payment</sales_order_payment>
            </rewrite>
         </adminhtml>
      </blocks>

      <models>
         <tpg>
            <class>PayVector_Tpg_Model</class>
            <resourceModel>tpg</resourceModel>
         </tpg>
         <tpg>
            <class>PayVector_Tpg_Model</class>
            <entities>
               <gatewayentrypoints>
                  <table>payvector_gatewayentrypoints</table>
               </gatewayentrypoints>
            </entities>
         </tpg>
      </models>

      <resources>
         <tpg_setup>
            <setup>
               <module>PayVector_Tpg</module>
               <class>PayVector_Tpg_Model_Resource_Eav_Mysql4_Setup</class>
               <class>PayVector_Tpg_Model_Resource_Setup</class>
            </setup>
            <connection>
               <use>core_setup</use>
            </connection>
         </tpg_setup>
         <tpg_write>
            <connection>
               <use>core_write</use>
            </connection>
         </tpg_write>
         <tpg_read>
            <connection>
               <use>core_read</use>
            </connection>
         </tpg_read>
      </resources>

      <!-- Define the helper class type -->
      <helpers>
         <Tpg>
            <class>PayVector_Tpg_Helper</class>
         </Tpg>
         <tpg>
            <rewrite>
               <data>PayVector_Tpg_Helper_Data</data>
            </rewrite>
         </tpg>
      </helpers>
   </global>

   <adminhtml>
      <layout>
         <updates>
            <tpg>
               <file>tpg.xml</file>
            </tpg>
         </updates>
      </layout>
   </adminhtml>
   <frontend>
      <secure_url>
         <tpg>/tpg/standard</tpg>
      </secure_url>
      <routers>
         <tpg>
            <use>standard</use>
            <args>
               <module>PayVector_Tpg</module>
               <frontName>tpg</frontName>
            </args>
         </tpg>
      </routers>
      <translate>
         <modules>
            <PayVector_Tpg>
               <files>
                  <default>PayVector_Tpg.csv</default>
               </files>
            </PayVector_Tpg>
         </modules>
      </translate>
   </frontend>

   <!-- declare default configuration values for this module -->
   <default>
      <payment>
         <tpg>
            <active>1</active>
            <model>tpg/direct</model>
            <title>PayVector Corporation</title>
            <hashmethod>sha1</hashmethod>
            <paymentprocessordomain>payvector.net</paymentprocessordomain>
            <paymentprocessorport>443</paymentprocessorport>
            <hostedpaymentactionurl>https://mms.payvector.net/Pages/PublicPages/PaymentForm.aspx</hostedpaymentactionurl>
            <transparentredirectactionurl>https://mms.payvector.net/Pages/PublicPages/TransparentRedirect.aspx</transparentredirectactionurl>
            <serverpullresultactionurl>https://mms.payvector.net/Pages/PublicPages/PaymentFormResultHandler.ashx</serverpullresultactionurl>
            <payment_action>capture</payment_action>
            <mode>direct</mode>
            <cv2mandatory>1</cv2mandatory>
            <address1mandatory>1</address1mandatory>
            <citymandatory>1</citymandatory>
            <statemandatory>1</statemandatory>
            <postcodemandatory>1</postcodemandatory>
            <countrymandatory>1</countrymandatory>
            <resultdeliverymethod>SERVER_PULL</resultdeliverymethod>
            <allowspecific>0</allowspecific>
            <customstockmanagementenabled>1</customstockmanagementenabled>
         </tpg>
      </payment>
   </default>
</config>